<div class="spinner-position">
	<mat-spinner *ngIf="!isDataLoaded" [diameter]="60" [strokeWidth]="5"></mat-spinner>
</div>
<mat-card class="example-card" *ngFor="let review of reviewsList;let i = index">
	<mat-card-header (click)="triggerPNEvent('Header clicked')">
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>{{ review.review_title }}
		</mat-card-title>
		<mat-card-subtitle>{{ review.reviewed_date }}
		</mat-card-subtitle>
		<div class="rating-align-right">
			<ngb-rating [(rate)]="review.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
		</div>
	</mat-card-header>
	<mat-card-content>
		<div [ngClass]="{'sidebar-box': !review.isReadMoreEnabled,'sidebar-box-show':review.isReadMoreEnabled}">
			<p>{{review.review_content}}</p>
			<p class="read-more"><button mat-raised-button class="primary" (click)="review.isReadMoreEnabled=!review.isReadMoreEnabled">{{ review.isReadMoreEnabled ? 'Read Less' : 'Read More'}}</button></p>
		</div>
	</mat-card-content>
	<mat-card-actions>
		<p>{{ review.marked_as_helpful ? review.marked_as_helpful + ' People Marked as Helpful' : ''}}</p>
		<div class="rating-align-right">
			<button mat-raised-button (click)="markAsHelpful(review,i)" [ngClass]="{'btn-active': review.isHelpfulClicked,'btn-nrml' : !review.isHelpfulClicked}">Helpful</button>
			<button mat-raised-button (click)="upvoteClick(review,i)" [ngClass]="{'btn-active': review.isUpvoteClicked,'btn-nrml' : !review.isUpvoteClicked}"><mat-icon>thumb_up</mat-icon>{{ review.upvotes_count }}</button>
			<button mat-raised-button (click)="downvoteClick(review,i)" [ngClass]="{'btn-active': review.isDownvoteClicked,'btn-nrml' : !review.isDownvoteClicked}"><mat-icon>thumb_down</mat-icon>{{ review.downvotes_count }}</button>
		</div>
	</mat-card-actions>
	<mat-card-footer>
		<mat-accordion>
			<mat-expansion-panel (opened)="getReviewComments(review.id,i)" (closed)="panelOpenState = false">
				<mat-expansion-panel-header>
					<mat-panel-title>
						Comments
						<!--<mat-icon matBadge="15" matBadgeSize="small" matBadgePosition="below" matBadgeColor="warn">comment</mat-icon>-->
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="spinner-position">
					<mat-spinner *ngIf="!isCommentSectionLoaded" [diameter]="60" [strokeWidth]="5"></mat-spinner>
				</div>
				<form [formGroup]="commentForm" style="width:100%">
					<table class="comment-form-container" *ngIf="isCommentSectionLoaded">
						<tr>
							<td>
								<mat-form-field appearance="outline">
									<mat-label>Name</mat-label>
									<input matInput formControlName="name">
									<mat-error *ngIf="name.invalid">Name Required</mat-error>
								</mat-form-field>
							</td>
							<td>
								<mat-form-field appearance="outline">
									<mat-label>Email</mat-label>
									<input matInput formControlName="email">
									<mat-error *ngIf="email.invalid">{{ email.hasError('required') ? 'Email Required' : email.hasError('email') ? 'Invalid Email' : '' }}</mat-error>
								</mat-form-field>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<mat-form-field appearance="outline">
									<mat-label>Comment</mat-label>
									<textarea matInput formControlName="comment"></textarea>
									<mat-error *ngIf="comment.invalid">{{ comment.hasError('required') ? 'Comment Required' : comment.hasError('maxlength') ? 'Max Length Exceeded' : ''
										}}
									</mat-error>
								</mat-form-field>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<button mat-raised-button color="primary" class="submit-button" (click)="commentForm.valid ? postComment(i) : commentForm.markAsTouched();">Post</button>
							</td>
					</table>
				</form>
				<mat-list>
					<mat-list-item *ngFor="let comment of reviewsList[i].comments_list">
						<h3 matLine> <b>{{comment.created_by}} </b></h3>
						<p matLine>
							<span> {{ comment.created_at}} </span>
							<span class="demo-2"> -- {{comment.comment}} </span>
						</p>
						<mat-divider></mat-divider>
					</mat-list-item>
				</mat-list>
			</mat-expansion-panel>
		</mat-accordion>
	</mat-card-footer>
</mat-card>

<ng-template #t let-fill="fill">
	<span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
	</span>
</ng-template>